name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
- name: LaTeX compilation

  uses: dante-ev/latex-action@v0.2.0

  with:

    # The root LaTeX file to be compiled

    root_file: 

    # The working directory for the latex compiler to be invoked

    working_directory: # optional

    # LaTeX engine to be used

    compiler: # optional, default is latexmk

    # Extra arguments to be passed to the latex compiler

    args: # optional, default is -pdf -latexoption=-file-line-error -latexoption=-interaction=nonstopmode

    # Install extra packages by apt-get

    extra_system_packages: # optional
